.button {
    width: 32px;
    height: 20px;
    margin: 5px;
    background-color: transparent;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}