.category-card {
  cursor: pointer;
}

.category-card.hidden {
    display: none;
}

.category-card-front-text {
  min-height: $category-card-font-text-container-height;
  padding: 10px 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  z-index: 200;
}

