.all-categories-container {
    margin: 0 auto;
    width: $cards-container-width;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-grow: 2;
}

.category-container {
    margin-right: $card-gap;
    margin-bottom: $card-gap;
}

.category-container:nth-child(4n+4) {
    margin-right: 0;
  }