$highlight-nav-item: rgb(250, 185, 159);

$width: 1800;

$cards-container-width: calc(#{$width}px * 0.73);
$card-width: calc(#{$width}px * 0.7 / 4);
$card-gap: calc((#{$width}px * 0.73 - #{$width}px * 0.7) / 3);

$card-text-bgrd-width: calc((#{$width}px * 0.7 / 4) * 0.4);
$card-button-rotate-width: calc((#{$width}px * 0.7 / 4) * 0.1);
$card-button-rotate-height: calc((#{$width}px * 0.7 / 4) * 0.1 * 0.8);
$card-button-rotate-margin: calc((#{$width}px * 0.7 / 4) * 0.1 * 0.2);

$card-font-size: calc((#{$width}px * 0.7 / 4) * 0.05 + 1px);
$footer-font-size: calc((#{$width}px * 0.7 / 4) * 0.04 + 1px);
$category-card-font-text-container-height: calc(((#{$width}px * 0.7 / 4) * 0.05 + 5px) * 2.4);
$category-card-font-size: calc((#{$width}px * 0.7 / 4) * 0.05 + 5px);
$pop-up-font-size: calc(#{$width}px * 0.0012);

$game-color: salmon;


@mixin h1 {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

@mixin card-title {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: $category-card-font-size;
  font-weight: 700;
}

@mixin text {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: $card-font-size;
  font-weight: 700;
};

@mixin footer-text {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: $footer-font-size;
  font-weight: 700;
};

@mixin text-popUp {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: $pop-up-font-size;
  font-weight: 700;
};