.pop-up-container-cover {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(47, 47, 49, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.pop-up-container-cover.hidden {
    display: none;
}

.pop-up-container.hidden {
  display: none;
}

.pop-up-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.pop-up-victory,
.pop-up-failure {
  height: 100%;
  z-index: 20;
}

.pop-up-container-failure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pop-up-failure-nbr {
  padding: 10px 90px;
  background-image: url('../public/images/smear.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 18%;
  @include text;
  text-align: center;
  text-transform: uppercase;
  color: black;
}
